@import "_reset.scss";

// Fluid Type

$baseline: 1.5rem;
$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 32px;

@import "_fluid-type.scss";

// Font-faces

@font-face {
    font-family: 'IBM Plex Sans Text';
    font-style: normal;
    font-weight: 450;
    src: local('IBM Plex Sans Text'),
        local('IBMPlexSans-Text'),
        url('../fonts/IBMPlexSans-Text.woff2') format('woff2'),
        url('../fonts/IBMPlexSans-Text.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Serif ExtraLightItalic';
    font-style: normal;
    font-weight: 600;
    src: local('IBM Plex Serif ExtraLightItalic'),
        local('IBMPlexSerif-ExtraLightItalic'),
        url('../fonts/IBMPlexSerif-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/IBMPlexSerif-ExtraLightItalic.woff') format('woff');
    font-display: swap;
}

::selection {

    background-color: #222;
    color: #ddd;

}

html {

    box-sizing: border-box;
    height: 100vh;
    background: #fff;

    @include fluid-type( $min_width, $max_width, $min_font, $max_font );

    &.mobile {

        font-size: 14px;
        height: fill-available;
        height: -webkit-fill-available;

        @media screen and (device-aspect-ratio: 2/3), (device-aspect-ratio: 40/71) {

            font-size: 10px;
        
        }

        &, & body, & main {

            min-height: 100vh;
            min-height: calc( var( --vh, 1vh ) * 100 );
            min-height: fill-available;
            min-height: -webkit-fill-available;
            height: 100vh;
            height: calc( var( --vh, 1vh ) * 100 );

        }

        & label, input {

            display: none;
            visibility: hidden;
            opacity: 0;
            height: 0;

        }

        &:not( .tablet ) {

            @media screen and ( orientation: portrait ) {

                header {

                    left: 0;
                    top: 0;

                    & > ul {

                        position: fixed;
                        z-index: 9999;
                        display: flex;
                        flex-direction: column;
                        padding: .5rem;

                        & > * {

                            transition: all 0s;
                            position: initial !important;

                            &:not( :first-child ) {

                                opacity: 0;

                            }

                        }

                    }

                }

                & input {

                    display: none;
                    visibility: hidden;
                    opacity: 0;

                    &:checked {

                        & ~ header > ul {
                            
                            background: #fff;
                            width: 100%;
                            height: 100%;
                            box-sizing: border-box;

                            & > * {

                                opacity: 1;

                            }
                        }

                        & ~ #container {
                            
                            opacity: 0;
                            pointer-events: none;

                        }
                    }

                }

                & label {
                    
                    content: "menu";
                    position: fixed;
                    display: initial;
                    visibility: visible;
                    opacity: 1;
                    z-index: 9999;
                    right: .5rem;
                    top: .5rem;

                }

            }

        }

    }

    &.tablet {

        font-size: 24px;
        
    }

    &:not( .mobile ) {

        & *, & body * {
        
            cursor: none;
        
        }

    }

}

html, body {

    overflow: hidden;

}

html, body {

    width: 100vw;
    height: 100vh;
    font-family: "IBM Plex Sans Text", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

#app, main {

    height: 100%;
    width: 100%;

}

a, a:hover, a:active, a:focus {
    outline: 0;
}
object, embed { 
    outline: 0;
}
input::-moz-focus-inner { 
    border: 0; 
}

a, button, button:after {

    color: inherit;
    font-family: 'IBM Plex Serif ExtraLightItalic';
    text-decoration: none;

}

header {

    & a, & button {

        font-family: "IBM Plex Sans Text", sans-serif;

    }

}

a, button {

    &:hover {

        color: #ddd;

    }

}